.main-detail {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.container-detail {
    border-radius: 6px;
    background-color: #425960;
    width: 800px;
    min-height: 400px;
    margin: 0 auto;
    box-shadow: 0px 1px 20px 1px rgba(42, 40, 40, 0.36);
}

.content-header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    font-size: 32px;
    color: white;
    margin-bottom: 35px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}

.content-body {
    padding-bottom: 7px;
    overflow: hidden;
    min-width: 500px;
}

.table-detail {
    table-layout: fixed;
    margin-top: 30px;
    margin-left: 70px;
    border: 0;
    color:whitesmoke;
}

.table-detail td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-scrolling: unset;
    border: 0;
}

.table-detail tr {
    border: 0;
}

.table-detail tbody {
    color:whitesmoke;
}

.lab{
    width:5%;
}
.my-flex-container {
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#btn-maroon {
    color: white;
    background-color: #cd4442;
    margin-right: 40px;
  }

#btn-back {
    margin-left: 40px;
    background-color: #202c34a3;
    color: white;
}

.h5{
    margin-left: 10px;
}
