{extends '../@layout.latte'}
{block styles}
    <link href="{$basePath}/styles/homepageCustomer.css" rel="stylesheet">
{/block}
{block menu}
   {include '../Components/menuCustomer.latte'}
{/block}
{block searchNav}
    {/block}
{block customContent}
    {include content}
{/block}