{extends 'layoutDefault.latte'}
{block content}
    <div n:block="title" class="content-header">Nová inscenácia</div>
        <div class="addPlay">
            {control addPlayForm}
        </div>
    </div>
{/block}