{extends '../@layout.latte'}
{block styles}
    <link href="{$basePath}/styles/addPlay.css" rel="stylesheet">
{/block}
{block searchNav}
{/block}
{block menu}
    {include '../Components/menuEmployee.latte'}
{/block}
{block customContent}
    {include content}
{/block}
