{extends 'layoutDefault.latte'}
{block content}
    <div n:block="title" class="title-name" >Osobné údaje</div>
    <div class="content">
        <div class="personalInfo">
            <div class="justify-content-center">
                {control personalInfoForm}
            </div>
        </div>
    </div>
{/block}