{extends 'layoutDefault.latte'}
{block content}
    <div  n:block="title" class="title-name" >Osobné údaje</div>
    <div class="content">
         {control ticketPersonalInfoForm}
    </div>
{/block}